name: CI-cpp

on: push

jobs:
  check:
    name: Building on ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: windows-latest }
          - { os: macOS-latest }
          - { os: ubuntu-latest }

    steps:
      - uses: actions/checkout@v4


      - name: Install openssl MacOsX
        if: matrix.config.os == 'macOS-latest'
        run: |
            brew install openssl
            BREW_PREFIX=`brew --prefix`
            echo "OPENSSL_ROOT_DIR=$BREW_PREFIX/opt/openssl" >> $GITHUB_ENV
      - name: Install openssl Windows
        if: matrix.config.os == 'windows-latest'
        run: choco install openssl
      - name: Check OpenSSL
        if: matrix.config.os == 'windows-latest'
        run: |
          echo ls  "C:\Program Files\OpenSSL-Win64\"
          ls  "C:\Program Files\OpenSSL-Win64\"
          echo ls  "C:\Program Files\OpenSSL-Win64\include"
          ls  "C:\Program Files\OpenSSL-Win64\include"
        shell: bash
      - name: Setup Python 3.12 for cpp_tests
        uses: actions/setup-python@v2
        with:
          python-version: 3.12
      - uses: lukka/get-cmake@v3.31.6
      - name: Run CMake
        uses: lukka/run-cmake@v3.4
        id: runcmake
        with:
          cmakeGenerator: 'Ninja'
          cmakeListsOrSettingsJson: 'CMakeListsTxtBasic'
          cmakeListsTxtPath: '${{ github.workspace }}/tests/cpp/CMakeLists.txt'
          useVcpkgToolchainFile: true
          buildWithCMakeArgs: '-- -v'
          buildDirectory: '${{ runner.workspace }}/b/'
      - name: Run Cpp tests
        run: 'python3 ${{ github.workspace }}/tests/cpp/python/python_client_tests.py'
        working-directory: '${{ runner.workspace }}/b/'