name: CI-cpp

on: push

jobs:
  check:
    name: Building on ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: windows-latest }
          - { os: macOS-latest }
          - { os: ubuntu-latest }

    steps:
      - uses: actions/checkout@v4

      - name: Install openssl MacOsX
        if: matrix.config.os == 'macOS-latest'
        run: |
            brew install openssl
            BREW_PREFIX=`brew --prefix`
            echo "OPENSSL_ROOT_DIR=$BREW_PREFIX/opt/openssl" >> $GITHUB_ENV

#      - name: Install openssl Windows
#        if: matrix.config.os == 'windows-latest'
#        shell: bash
#        run: |
#          choco install openssl
#          echo 'OPENSSL_ROOT_DIR="C:/Program Files/OpenSSL-Win64"' >> $GITHUB_ENV
#          echo 'OPENSSL_CRYPTO_LIBRARY="C:\Program Files\OpenSSL-Win64\bin\libcrypto-3-x64.dll"' >> $GITHUB_ENV
#          echo 'OPENSSL_INCLUDE_DIR="C:\Program Files\OpenSSL-Win64\include"' >> $GITHUB_ENV
      - name: Install OpenSSL with vcpkg
        if: matrix.config.os == 'windows-latest'
        shell: powershell
        run: |
          # Set VCPKG_ROOT environment variable (adjust path if needed)
          echo "VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT" | Out-File -FilePath $env:GITHUB_ENV -Append
          vcpkg install openssl:x64-windows-static-md # or openssl:x64-windows for dynamic
      - name: Verify OpenSSL installation
        shell: powershell
        run: |
          openssl version
      - name: Setup Python 3.12 for cpp_tests
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - uses: lukka/get-cmake@v4.2.1

      - name: Run CMake
        uses: lukka/run-cmake@v3.4
        id: runcmake
        with:
          cmakeGenerator: 'Ninja'
          cmakeListsOrSettingsJson: 'CMakeListsTxtBasic'
          cmakeListsTxtPath: '${{ github.workspace }}/tests/cpp/CMakeLists.txt'
          useVcpkgToolchainFile: true
          buildWithCMakeArgs: '-DOPENSSL_ROOT_DIR="C:/Program Files/OpenSSL-Win64" -DOPENSSL_CRYPTO_LIBRARY="C:\Program Files\OpenSSL-Win64\bin\libcrypto-3-x64.dll" -DOPENSSL_INCLUDE_DIR="C:\Program Files\OpenSSL-Win64\include"'
          buildDirectory: '${{ runner.workspace }}/b/'

      - name: Run Cpp tests
        run: 'python3 ${{ github.workspace }}/tests/cpp/python/python_client_tests.py'
        working-directory: '${{ runner.workspace }}/b/'
